@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}
/* #1d1e2c; */
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #1d1e2c;
    overflow: hidden;
}

nav{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.logo{
    border-radius: 1rem;
}

.nav-logo{
    margin-left: 30rem;
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #f17300;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%; /* dodac na innych navbarach */
}

.btn{
    margin-right: 30rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #f17300;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #ffffff;
    color: #1d1e2c;
}

.container{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    max-width: 1200px;
    border-radius: 1rem;
    margin: auto;
    margin-top: 3rem;
    padding: 3rem 2rem;
    
}

.dots{
    position: absolute;
    z-index: -100;
    animation: rotate 12s linear infinite;
    width: 600px;
    opacity: 0.25;
    top: -50%;
    left: -50%;
    filter: invert(67%) sepia(99%) saturate(4631%) hue-rotate(6deg) brightness(99%) contrast(103%);
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

.imaga{
    border-radius: 1rem;
 
   
}

.image::before{
    content: "*";
    position: absolute;
    top: 50;
    left: 60%;
    height: 1vh;
    font-size: 38rem;
    font-weight: 200;
    color: #f17300;
    opacity: 0.1;
    animation: slideDown 12s linear infinite;
}
@keyframes slideDown {
    from {transform: translateY(-50vw)}
    to {transform: translateY(100vh);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg)};
    
}



